@model IEnumerable<Employee>

    @{
    ViewData["Title"] = "Index";
}

@if (TempData["ResultOk"] != null)
{
    <h1 class="alert-success">@TempData["ResultOk"]</h1>
}

<div class="row ">

    <h1 class="text-center mb-3">Data Karyawan </h1>

    <div class="col mb-3">
        <a asp-controller="Employee" asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Add Employee</a>
    </div>

</div>

<div class="row" >
    <div class="col ">
        <div class="table-responsive" id="Grid">
            <table class="table table-bordered table-hover" id="MyTable" style="border-collapse: collapse">
                <thead>
                    <tr>
                        <th scope="col" style="border: 1px solid #ddd; padding: 8px; background-color: #7923F7; color: white;">Employee Name</th>
                        <th scope="col" style="border: 1px solid #ddd; padding: 8px; background-color: #7923F7; color: white;">Designation</th>
                        <th scope="col" style="border: 1px solid #ddd; padding: 8px; background-color: #7923F7; color: white;">Address</th>
                        <th hidden scope="col" style="border: 1px solid #ddd; padding: 8px; background-color: #7923F7; color: white;">CreatedOn</th>
                        <th scope="col" style="border: 1px solid #ddd; padding: 8px; background-color: #7923F7; color: white;">Gender</th>
                        <th scope="col" style="border: 1px solid #ddd; padding: 8px; background-color: #7923F7; color: white;">Action</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td width="20%" style="border: 1px solid #ddd; padding: 8px">@item.Name</td>
                            <td width="20%" style="border: 1px solid #ddd; padding: 8px">@item.Designation</td>
                            <td width="25%" style="border: 1px solid #ddd; padding: 8px">@item.Address</td>
                            <td hidden width="20%" style="border: 1px solid #ddd; padding: 8px">@item.RecordCreatedOn</td>
                            <td width="20%" style="border: 1px solid #ddd; padding: 8px">@(item.Gender == 'M' ? "Male" : "Female")</td>
                            <td style="border: 1px solid #ddd; padding: 8px">
                                <div role="group" class="w-60 btn-group">
                                    <a asp-controller="Employee" asp-action="Edit" asp-route-id="@item.Id" class=" btn btn-sm btn-primary"><i class="bi bi-pencil-square"></i>Edit</a>&nbsp;
                                    <a asp-controller="Employee" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger"><i class="bi bi-trash-fill"></i>Delete</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col mb-3">
        <form method="post" asp-controller="Employee" asp-action="Export">
            <input type="hidden" name="GridHtml"/>
            <button type="submit" class="btn btn-success" id="btnSubmit">
                <i class="bi bi-download"></i> Export
            </button>
        </form>
    </div>
</div>

@section Scripts {
    <script>

        $(document).ready(function() {
            $("#btnSubmit").click(function () {
                @* $('#MyTable th:last-child, #MyTable td:last-child').remove(); *@
                $("input[name='GridHtml']").val($("#Grid").html());
            });
        });
    </script>
}
